//下拉框

.search-address{
    .el-select .el-input .el-input__inner{
        color: #FFF;
        background: #030911;
        letter-spacing: 0.7px;
        font-size:12px;
    }
    .el-select:hover .el-input__inner {
        border: 1px solid rgba(180,185,194,0.20);
        color: #FFF;
        background: #030911;
    }
    .el-select .el-input.is-focus .el-input__inner{
        border: 1px solid rgba(180,185,194,0.50);
        color: #FFF;
        background: #030911;
    }
    .el-select .el-input .el-select__caret{
        line-height: 35px;
    }
}
.el-popper{
    min-width: 100px !important;
    background: rgba(#15191E,.8);;
    border: 1px solid rgba(180,185,194,0.20);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.el-popper[x-placement^="bottom"] .popper__arrow::after{
    top:0;
    border-bottom-color:transparent;
    border-bottom-color: rgba(#15191E,1);;
}
.el-popper[x-placement^="top"] .popper__arrow::after{
    border-top-color: rgba(#15191E,1);;
}
.el-popper[x-placement='bottom-start'],.el-popper[x-placement='top-start']{
    border-color: rgba(#15191E,1);;
}
.el-select-dropdown__item{
    color: #fff;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
    // background: #1F254C;
    //background: rgba(#005ECC, 1);
    //color: @lightblue;
    border-radius: var(--Number4, 4px);
    background: var(--Transparency-300, rgba(255, 255, 255, 0.10));
}
.el-select-dropdown__item.selected{
    //background: rgba(#005ECC,.1);
    //color: @lightblue;
    border-radius: var(--Number4, 4px);
    background: var(--Blue-500, #005ECC);
}

.el-dropdown-menu .el-dropdown-menu__item:nth-of-type(1){
    margin-top: 0;
}

